# ArcGIS project files
*.aprx
*.aprx.lock
*.gdb/
*.lock
*.atbx
*.tbx
*.sde

# ArcGIS cache/index
*.aux.xml
*.xml
*.cpg
*.sbx
*.sbn
*.spx
*.freelist
*.gdbindexes

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Temporary
*.tmp
*.bak
*.log

# Large raw data
data_raw/
archive/
.backups/
GpMessages/
ImportLog/